on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master
name: "Build and Release"
jobs:
  build:
    name: "Build and Release"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2.7.1
        with:
          channel: stable
          flutter-version: '3.3.2'
      # - run: flutter pub update
      - run: flutter pub get
      - run: flutter build apk --release --split-per-abi
      - run: flutter build appbundle

      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/debug/*"
          tag: v1.0${{ github.run_number }}
          token: ${{ secrets.TOKEN }}
